name: build
on:
  push:
    branches:
      - 'master'
    tags:
      - 'v*'
  pull_request:
  workflow_dispatch:

jobs:
  # test using tox-gh plugin
  # https://github.com/tox-dev/tox-gh/tree/1.0.0
  test:
    name: test ${{ matrix.py }} - ${{ matrix.os }}
    runs-on: ${{ matrix.os }}-latest
    strategy:
      fail-fast: false
      matrix:
        os:
          - Ubuntu
        py:
          - "3.7"
          - "3.8"
          - "3.9"
    steps:
      - name: Setup python for test ${{ matrix.py }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.py }}
      - uses: actions/checkout@v2
      - name: Install tox-gh
        run: python -m pip install tox-gh
      - name: Setup test suite
        run: tox r -vv --notest
      - name: Run test suite
        run: tox r --skip-pkg-install
